<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    {% include "djangoapp/navbar.html" with dealerId=dealer_id %}

    {% if success_add_review %}
        <div class="alert alert-success">"Your new review has been added sucessfully !"</div>    
    {% endif %}

    <!-- Add reviews as cards -->
    {% if reviews_list %}
        <h4> No reviews added yet for this Dealership !</h4>    
    {% else %}
        <div class="card-columns">
            {% for review in reviews_list %}
                <div class="card">
                    <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" 
                        alt="{{review.sentiment}} emoji" class="card-img-left">
                    <div class="card-body">
                        <label class="card-title">{{review.car_make}}</label>
                        <label class="card-title">{{review.car_model}}</label>
                        <label class="card-title">{{review.car_year}}</label>
                        <label class="card-title">{{review.purchase_date}}</label>
                        <label class="card-text">{{review.review}}</label>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </body>

</html>